<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Поиск</span>
    </div>
    <input [ngModel]="searchQuery" (ngModelChange)="changed($event)">
  </div>
  <div class="row">
    <div class="card-wrapper col-lg-4" *ngFor="let recipe of recipes">
      <div class="card">
        <img src={{recipe.image}} class="card-img-top" alt={{recipe.name}}>
        <div class="card-body">
          <h5 class="card-title">{{recipe.name}}</h5>
          <p class="card-text">{{recipe.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
