<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" routerLink="/">Сайт с рецептами</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01"
    [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes">Рецепты</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/admin">Админ-панель</a>
      </li>
    </ul>
    <ul *ngIf="!authService.loggedIn()" class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Вход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/signup">Регистрация</a>
      </li>
    </ul>
    <ul *ngIf="authService.loggedIn()" class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="authService.logout()">Выход</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>